# Dependency directories
node_modules
npm-debug.log

# Environment variables
.env
.env.*

# Git files
.git
.gitignore

# Test files
coverage
tests

# Development files
.eslintrc.js
.prettierrc
jest.config.js

# IDE files
.idea
.vscode

# Logs
logs
*.log

# OS files
.DS_Store
Thumbs.db

# Docker files
Dockerfile
docker-compose.yml
.dockerignore
